<!-- include header -->
<%-include('include/_header.ejs')%>
<!-- /include header -->

  <!-- mane add-user section -->
  <container class="addcontainer">
    <div class="addcontainerdiv">
     <div class="box-nav d-flex-justify-between">
       <a href="/" class="border-shadow">
         <span class=""><i class="fas fa-angle-double-left"></i> All User </span>
       </a>
    </div>
    <div class="TitleTop">
        <h1>Add a new user</h1>
    </div>


    <!-- form Hendling -->
    <%-include('include/_form.ejs')%>

    </div>
   </container>
   <!-- /mane add-user section -->

<!-- include footer -->
<%-include('include/_footer.ejs')%>
<!-- /include footer -->