@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,600&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;800;900&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --dark:#2b2d42;
    --light:#adb5db;
    --border:#dee2e6;
    --border-btn:#edf2f4;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-family: Oswald;
}
.container{
    max-width: 1024px;
    margin:auto;
    
}
.nav-brand{
    font-size: 1.5em;
    font-weight: bold;
}
.text-center{
    text-align: center;
}
.d-flex{
  display: flex;  
  flex-wrap: wrap;

}
.justify-content{
text-align: center;
}
.border-shadow{
    border:1px solid var(--border-btn);
    box-shadow:1px 3px 10px #e9ecef ;
}
.text-dark{
    color:var(--dark);
}
.inline{
    display:inline-block;
}
.text-light{
    color:var(--light);
}
text-gradient{
    background: linear-gradient(to right,#8e2de2,#3e2def,);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color:transparent;
 
}
#header nav{
background-color: #06d6a0;;
padding:1em 0;
width:100%;

}
#site-main{
    margin-top:6em;
    font-weight: roboto;
}
.box-nav{
    margin-bottom: 20px;
}
#site-main .container .box-nav>a{
font-size: 1em;
padding:.5em 1em;
}
#site-main .container form{
    margin: 2em 0;

}
table{
    border-spacing: 0px;
    width:100%;

}
.thead-dark{
    background-color: var(--dark);
    color:#fff;
}
.table td, table th{
    padding:.75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid var(--border);
}

.table td>a.btn{
    padding:.3em 1em;
    font-size: 1.1em;
    margin:0.2em;
}
.table tbody tr:hover{
    background-color:#06d6a0;
}
.table tr:hover td>a{
    box-shadow: none;
}
/* adduser page */
.TitleTop{
    font-size: 18px;
    font-family: Oswald;
    font-weight:700;
}
.addcontainer{
    width:400px;
    height: 400px;
    display: flex;
    position: relative;

}
.addcontainerdiv{
position: absolute;
justify-items: center;
padding-top: 150px;
padding-left: 120px;
width: 400px;
margin:0 auto;

}
.input-group{
padding-bottom: 10px;
}
#basic-addon1{
    font-size: 18px;
    font-family: Oswald;
    font-weight: 700;
}
.form-control{
width:100%;
height: 30px;
}
.btn button{
    width: 100%;
    margin-top: 15px;
    padding:.5em 1em;
    background: #06d6a0;
    border: none;
}